.container{
  display: grid;
  place-items: center;
  border: 1px solid #9fc7d9;
  border-radius: 2rem;
  padding: 3rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.containerLogin{
  > input{
    margin-bottom: 40px;
  }
}

.input {
  border-radius: 0.6rem;
  border: 1px solid #000000;
  width: 25rem;
  height: 30px;
  cursor: pointer;
  transition: border-color 0.2s ease;
}

.input:focus {
  border: 2.5px solid #4fbaf7;
  outline: none;
}

.loginButton{
  width: 100%;
  border: 2px solid #4fbaf7;
  border-radius: 1rem;
  height: 3rem;
  background: #8ec4fa;

  transition: filter 0.3s;

  &:hover{
    filter: brightness(0.9);
  }
}

