.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0 7rem;
}

.headerContainer {
  height: 5rem;
  border-bottom: 1px solid #29292E;
}

.logo {
  height: 3.7rem;
  width: 7rem;
}
.label {
  font-size: 20px;
}